.drone {
    animation-name: image-bounce;
    animation: image-bounce 2s infinite alternate;
    position: relative;
    opacity: 0.6;
    z-index: -1;
}
@keyframes image-bounce {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}
